*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0557A5;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.logo img{
    height: 50px;
    margin-left: 50px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding: 0 4px;
    transition: all 0.1s ease;
    margin-left: 5px;
}

.auth-links{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.auth-links a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.nav-links li a:hover {
    border: 3px solid #fff;
    border-right: none;
    border-top: none;
    border-left: none;
}

.login{
    font-weight: bold;
}

.signup{
    padding: 5px 25px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-right: 2rem;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
}

.support-link {
    border-bottom: 2px solid white; 
    padding-bottom: 5px; 
    width: 5px;
    margin-bottom: -3px;
}
